@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,900&subset=latin-ext");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url("../images/pexels-photo-443356.jpeg");
  background-size: cover;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 10px; }

main {
  padding: 5%; }

h1 {
  margin-top: 5vh;
  text-shadow: 2px 2px black;
  letter-spacing: 3px;
  font-size: 3rem; }

.quote {
  padding: 40px 0 10px 0;
  font-weight: 400;
  text-align: center;
  font-size: 1rem; }

.author {
  text-align: center;
  font-weight: 300;
  font-size: 0.8rem;
  font-style: italic;
  color: #FFE4A1;
  text-transform: none; }

main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 5%; }

.trigger {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #D6772E;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  outline: none;
  cursor: pointer;
  margin-top: 50px; }

.tweet {
  color: white;
  text-decoration: none;
  padding: 20px; }
  .tweet i {
    padding-right: 10px; }
